@use "./mixins" as mixins;

div.teams-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

div.team {
  margin: 2rem;
  text-align: center;
  padding: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  /* height: 320px; */
  border-radius: 0.2rem;
  width: 100%;
  @include mixins.tablet {
    width: 40%;
  }
  div.charactersList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  div.characterImage {
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    border-radius: 50%;
    img {
      width: 100%;
    }
  }
}