div.error {
    text-align: center;
    margin: 0 auto;
    padding: 5rem;
}

div.error h1 {
    font-size: 10rem;
    font-weight: 700;
    margin-bottom: 0;
}

div.error img {
    max-width: 60%;
    height: auto;
    margin: 2rem auto;
}
